.diaryText {
    @include flex(flex, column, null, center);
 

.diaryForm {
    @include flex(flex, column, null, center);

    &__input {
        border:none;
        border-bottom: 1px solid black;
        font-family: inherit;
        font-size: inherit;
        margin-bottom: 3rem;
        width: 420px;
        font-size: 1rem;

        &:focus {
            outline: none;
            border: none;
            border-bottom: 1.5px solid #f8a706;
        }
    }

    &__textarea{
        @include build(600px, 200px, null, null);
        font-size: 0.9rem;
        margin-bottom: 2rem;

        &:focus {
            outline: none;
            border: 1.5px solid #f8a706;
        }
    }
}
}

::placeholder { 
    font-size: 0.8rem;
    text-align: center;
    color: rgb(73, 11, 131);

 }

 @media(max-width:850px) {
     .diaryText{
    .diaryForm {

        &__input {
            width: 350px;
        }

        &__textarea {
            width: 360px;
            height: 270px;
        }
    }
  }
 }

 @media(max-width:600px) {
    .diaryText{
   .diaryForm {

       &__input {
           width: 290px;
       }

       &__textarea {
           width: 300px;
       }
   }
 }
}

@media(max-width:450px) {
    .diaryText{
   .diaryForm {

       &__input {
           width: 250px;
       }

       &__textarea {
           width: 250px;
           height: 380px;
       }
   }
 }
}