.textBlock {
    display: flex;
    width: 700px;
    flex-direction: column;

    &__heading {
        font-size: 2.6rem;
        margin: 1.5rem 0;
    }

    &__paragraph {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 1560px) {
    .textBlock {
        width: 600px;
    }
  }

  @media screen and (max-width: 1350px) {
    .textBlock {
        width: 450px;
    }
  }

  @media screen and (max-width: 1300px) {
    .textBlock {
        width: 700px;
        display: flex;
        align-items: center;

        &__heading {
            text-align: center;
            font-size: 1.9rem !important;
            width: 500px;
        }
        
    }
  }

  @media screen and (max-width: 950px) {
    .textBlock {

        &__paragraph {
            font-size: 1rem !important;
            width: 500px;
            margin-left: 1rem;
        }
        
    }
  }

  
@media screen and (max-width: 750px) {
    .textBlock {
        width: 400px !important;

        &__heading {
            width: 400px;
        }

        &__paragraph {
            width: 400px;
        }
        
    }
  }

  @media screen and (max-width: 600px) {
    .textBlock {
        width: 330px !important;

        &__heading {
            width: 270px;
            font-size: 1.6rem !important;
        }

        &__paragraph {
            width: 250px;
        }
        
    }
  }
