.navigation {
  display: flex;
}

@media screen and (max-width: 1300px) {
    .navigation {
        padding-right: 0rem !important;
    }
  }

  @media screen and (max-width: 480px) {
    .navigation {
        flex-direction: column;
    }
  }